@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

body{
    background: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
}

.title h1{
    color: white;
}

.title img{
    width: 450px;
}

.pizzas{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.searchpizzas{
    display: flex;
    gap: 10px;
}

.searchpizzas button{
    padding: 0px 2px;
    cursor: pointer;
}

.renderpizzas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: white;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    height: 340px;
}

.renderpizzas img{
    width: 100%;
}

.errorpizza{
    color: white;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}
